<div class="panel panel-success" style="position: relative; min-height:95%">
    <div class="panel-heading">
        <span class="h3">Rezepte</span>
        <div class="pull-right">
            <a class="btn btn-default" href="#/recipes/_new"><span class="glyphicon glyphicon-plus"></span></a>
            <a class="btn btn-default" ng-click="isCKOpen = !isCKOpen"><span>CK</span></a>
        </div>
    </div>
    <div ng-show="isCKOpen" class="overlay panel">
        <form ng-submit="getFromCK()">
            <input type="text" ng-model="ckId"  size="30"
                   placeholder="CK ID">
            <input class="btn btn-primary" type="submit" value="Get it!">
        </form>
    </div>    
    <div>
        <input class="search-box" ng-model="query" ng-model-options="{ debounce: 200 }" placeholder="Suche..." style="width:80%">
        <span class="clickable" ng-click="query = ''">X</span>
    </div>
  
    <div infinite-scroll="recipe in fetcher" class="recipe-list" >
        <li>
            <a href="#/recipes/[[:recipe._id]]">
                [[ if (recipe.titlePicture) { ]]          
                    <div class="recipe-title-image" style="background-image:url(pics/thumbnails/[[:recipe.titlePicture]])">&nbsp;</div>                    
                [[ } else { ]]         
                    <div class="recipe-title-image">&nbsp;</div>
                [[ } ]]           
            </a>
            <div class="recipe-description">
                <a href="#/recipes/[[:recipe._id]]">
                    <div class="recipe-title">[[:recipe.title]]</div>
                    <div class="recipe-subtitle">[[:recipe.subtitle]]</div>
                </a>
            </div>

            <div class="recipe-tags">
                [[ _.each(recipe.tags, function(tag) { ]]
                   <span class="tag label label-default" ng-click="filterByTag('[[:tag]]');">[[:tag]]</span>
                [[ }); ]] 
            </div>
        </li>        
    </div>

</div>
