<div class="panel panel-success">
    <div class="panel-heading">
        <span class="h3">Rezepte</span>
        <div class="pull-right">
            <a class="btn btn-default" href="#/recipes/_new"><span class="glyphicon glyphicon-plus"></span></a>
        </div>
    </div>
    <div>
        <input class="search-box" ng-model="query" placeholder="Suche...">
    </div>
    <ul class="recipe-list">
        <li ng-repeat="recipe in recipes | filter:query | orderBy:orderBy track by recipe._id">
            <a href="#/recipes/{{::recipe._id}}">
                <div class="clickable-content">
                    <div ng-if="::recipe.titlePicture.file" class="recipe-title-image" style="background-image:url(pics/thumbnails/{{::recipe.titlePicture.file}})">&nbsp;</div>
                    <div ng-if="::!recipe.titlePicture.file" class="recipe-title-image">&nbsp;</div>
                    <div class="recipe-description">
                        <span class="recipe-title">{{::recipe.title}}</span><br>
                        <span class="recipe-subtitle">{{::recipe.subtitle}}</span>
                    </div>

                </div>
            </a>
            <div class="recipe-tags">
                <span ng-repeat="tag in ::recipe.tags track by tag" class="tag label label-default" ng-click="filterByTag(tag);">{{::tag}}</span>
            </div>
        </li>
    </ul>
    
</div>
<hr>
<div class="panel panel-success">
    <div class="panel-heading">
        <span class="h5">Aus CK</span>
    </div>
    <form ng-submit="getFromCK()">
        <input type="text" ng-model="ckId"  size="30"
               placeholder="CK ID">
        <input class="btn btn-primary" type="submit" value="Get it!">
    </form>
</div>
