<div ng-if="!edit">
    <div class="h3">
        <span class="glyphicon glyphicon-pencil" ng-click="beginEdit()"></span>
    </div>
    <div class="h1">
        {{displayCopy.title}}
    </div>
    <div class="h4">
        <div style="float:left">{{displayCopy.subtitle}}</div>
        <div style="float:right">
            <span class="glyphicon glyphicon-thumbs-up" title="{{displayCopy.rating.likes}}" ng-click="addLikeToRecipe();"></span>
            <span class="glyphicon glyphicon-thumbs-down" title="{{displayCopy.rating.likes}}" ng-click="removeLikeFromRecipe();"></span>
        </div>
        <div style="clear:both"></div>
    </div>

    <div class="row" >
        <div class="col-xs-12 col-md-7">
            <div class="panel panel-success">
                <div class="panel-heading"><span class="h3">Zubereitung</span></div>
                <ol>
                    <li ng-repeat="line in displayCopy.instructions track by $index">
                        <p class="lead" markdown="displayCopy.instructions[$index]"></p>
                    </li>
                </ol>            
            </div>
        </div>
        <div class="clearfix visible-xs"></div>
        <div class="col-xs-12 col-md-offset-1 col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <span class="h3">Zutaten f&uuml;r</span>
                    <input style="width: 40px" type="text" class="" ng-model="displayCopy.servings" required ng-pattern="/\d+(\.\d{1,2})?/"> </input>
                </div>            
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="ing in displayCopy.ingredients" >
                        <article ng-click="ing.done = !ing.done" ng-class="{true: 'text-muted', false: 'text-primary'}[ing.done]">
                            <span class="glyphicon glyphicon-ok"  ng-hide="!ing.done"></span>
                            <span ng-if="ing.quantity_calc">{{ing.quantity_calc}}</span>
                            <span ng-if="ing.unit">{{ing.unit}}</span>
                            <span markdown="ing.name"></span>
                            <span ng-if="ing.comment">{{ing.comment}}</span>
                            <span ng-if="ing.quantity_calc > 0 || ing.unit" class="pull-right glyphicon glyphicon-shopping-cart" ng-click="addToShoppingList(ing); $event.stopPropagation();" title="Auf Kaufliste"></span>
                        </article>                    
                    </li>
                </ul>           
            </div>
        </div>
    </div>
</div>

<div ng-if="edit">
    <div class="h3">
        <span class="glyphicon glyphicon-ok" ng-click="saveRecipe();" ></span>
        <span class="glyphicon glyphicon-remove" ng-click="cancelEdit();" ></span>
    </div>
    <div class="h1">
        <input type="text" ng-model="recipe.title" placeholder="Titel eingeben"></input>
    </div>
    <div class="h4">
        <input type="text" ng-model="recipe.subtitle" placeholder="Untertitel eingeben"></input>
    </div>
    <div class="row" >
        <div class="col-xs-12 col-md-7">
            <div class="panel panel-success">
                <div class="panel-heading"><span class="h3">Zubereitung</span></div>
                <ol>
                    <li ng-repeat="line in recipe.instructions track by $index">
                        <div>
                            <textarea style="width:100%;" ng-model="recipe.instructions[$index]" ng-keydown="handleInstructionTabKey($event, line)" placeholder="Zubereitungsschritt beschreiben"></textarea>
                            <div class="glyphicon glyphicon-remove" ng-click="deleteInstruction(recipe.instructions[$index]);"></div>
                        </div>
                    </li>
                </ol>
                <div class="glyphicon glyphicon-plus" ng-click="addInstructionToRecipe();"  ></div>
            </div>
        </div>
        <div class="clearfix visible-xs"></div>
        <div class="col-xs-12 col-md-offset-1 col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <span class "h3">Berechnungsgrundlage:</span>
                    <input style="width: 40px" type="text" class="" ng-model="recipe.servings" required ng-pattern="/^([1-9][0-9]*)$/"></input>
                </div>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="ing in recipe.ingredients" >
                        <article >
                            <input type="text" ng-model="ing.quantity" style="width: 50px"></input>
                            <input type="text" ng-model="ing.unit" style="width: 50px" placeholder="Einh."></input>
                            <input type="text" ng-model="ing.name" placeholder="Name"></input>
                            <input type="text" ng-model="ing.comment" placeholder="Kommentar" ng-keydown="handleIngredientTabKey($event, ing)"></input>   
                            <div class="glyphicon glyphicon-remove" ng-click="deleteIngredient(ing);"></div>
                        </article>
                    </li>
                </ul>
                <div class="glyphicon glyphicon-plus" ng-click="addIngredientToRecipe();"></div>
            </div>
        </div>
    </div>
</div>