<div class="panel panel-success" style="position: relative; min-height:95%">
    <div class="panel-heading">
        <span class="h3">Shopping Cart</span>
    </div>
		<div class="panel panel-success">
  		<ul class="list-group">
  			<li class="list-group-item" ng-repeat="item in items" >
  				<article ng-click="item.done = !item.done" ng-class="{true: 'text-muted', false: 'text-primary'}[item.done]">
  					<span class="glyphicon glyphicon-ok"  ng-hide="!item.done"></span>
  					<span ng-if="item.quantity">{{item.quantity}}</span>
  					<span markdown="item.ingredient"></span>
  				</article>
  			</li>
  		</ul>
  	</div>
</div>
