[Unit]
Description=Nightly cookie backup
Requires=docker.service

[Timer]
OnCalendar=*-*-* 03:00:00
Persistent=true     
 
[Install]
WantedBy=timers.target